<%= render 'shared/content_title', title: 'Create a new category' %>

<% if @category.errors.any? %>
  <div class='row'>
    <div class='alert alert-error span8'>
      <p>There are some errors you need to fix:</p>
      <ul>
        <% @category.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>